<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Подробнее про нас</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/product/">

</head>
<body>
<div th:insert="sections/hat :: hat"></div>

<div class="p-5 mb-4 bg-info rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Как проводим обследование</h1>
        <p class="col-md-8 fs-4">Этапы проведения обследования:</p>
        <p class="col-md-8 fs-6">- Проанализируем исходную документацию;</p>
        <p class="col-md-8 fs-6">- Проведем визуальное сплошное обследование для оценки технического состояния по
            внешним признакам,
            определим необходимость детального инструментального обследования;</p>
        <p class="col-md-8 fs-6">- Составим дефектную ведомость, сводную ведомость объемов работ;</p>
        <p class="col-md-8 fs-6">- Выполним расчет физического износа конструкций и инженерных сетей;</p>
        <p class="col-md-8 fs-6">- Выполним инструментальное определение параметров всех дефектов и повреждений с
            указанием причин появления
            дефектов и повреждений в конструкциях, проведем тепловизионную съемку объекта;</p>
        <p class="col-md-8 fs-6">- Проанализируем исходную документацию;</p>
        <p class="col-md-8 fs-6">- Заключение/отчет полностью соответствует требованиям при согласовании финансирования
            капитального ремонта.
            Получите примеры заключений;</p>
    </div>
</div>

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold">По итогу обследования мы выдаем ТЕХНИЧЕСКОЕ ЗАКЛЮЧЕНИЕ</h2>
        <p class="col-md-8 fs-4">Состав заключения:</p>
        <p class="col-md-8 fs-6">- Само обследование;</p>
        <p class="col-md-8 fs-6">- Необходимые расчеты;</p>
        <p class="col-md-8 fs-6">- Дефектную ведомость;</p>
        <p class="col-md-8 fs-6">- Сводную ведомость;</p>
        <p class="col-md-8 fs-6">- Расчет физического износа;</p>
        <p class="col-md-8 fs-6">- Выводы и рекомендации;</p>
    </div>
</div>

<div class="p-5 mb-4 bg-info rounded-3">
    <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold">Интерактивное заключение (отчет) - технологический прорыв в обследовании
            зданий!</h2>
        <p class="col-md-8 fs-4">Заключение соответствует требованиям ГОСТа 31937-2011 и является необходимым при
            проведении капитального ремонта. Посмотрите примеры интерактивных заключений (отчетов)</p>
    </div>
</div>

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Как мы работаем?</h1>
        <p class="col-md-8 fs-4">В процессе работы мы фокусируемся на качестве обследования и сроках выполнения. Поэтому
            работать с нами легко и приятно.</p>
        <p class="col-md-8 fs-6">ШАГ1: Свяжитесь с нами.</p>
        <p class="col-md-8 fs-6">ШАГ2: Согласуем и сделаем расчет стоимости</p>
        <p class="col-md-8 fs-6">ШАГ3: Проведем техническое обследование</p>
        <p class="col-md-8 fs-6">ШАГ4: Оформи заключение</p>
        <p class="col-md-8 fs-6">ШАГ5: С Вас оплата по договору</p>
    </div>
</div>

<div th:insert="sections/footer :: footer"></div>
</body>
</html>